<mat-toolbar color="primary">
  <mat-toolbar-row>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

    <button mat-icon-button>
<mat-icon _ngcontent-dae-c131="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font"(click)="sidenav.toggle()" aria-label="Example heart icon">...</mat-icon>
    </button>
    SimpleCRM
    <span class="menu-spacer"></span>
    <div>
      <a mat-button > Accounts </a>
      <a mat-button > Create Account </a>
      <a mat-button > Contacts </a>
      <a mat-button > Create Contact </a>
      <a mat-button > Activities </a>
      <a mat-button > Create Activity </a>

    </div>
  </mat-toolbar-row>

 <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row>  -->
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item > Accounts </a>
      <a mat-list-item > Create Account </a>
      <a mat-list-item > Contacts </a>
      <a mat-list-item > Create Contact </a>
      <a mat-list-item > Activities </a>
      <a mat-list-item > Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
<p><span class="span_head1"><hello name="{{ name }}"></hello></span></p>
<product>Loading Product...</product>
  
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

